
.half-card-area {
  position: absolute;
  top: 40%;
  left: 69px;
  width: 222px;
  height: 30%;
  background-color: var(--bg-dark);
}

.avatar-area {
  position: absolute;
  top: 20%;
  left: 69px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--bg-dark);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

.card-area {
  position: absolute;
  top: 25%;
  left: calc(69px + 78px + 10px);
  width: 222px;
  height: 63px;
  // background-color: red;

  display: flex;
}

.card {
  position: relative;
  margin-right: -20px;
  width: 40px;
  height: 63px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: 1px solid #000000;

  .line-1 {
    position: absolute;
    top: 50%;
    left: -37%;
    width: 175%;
    height: 1px;
    background-color: black;
    transform: rotate(60deg);
  }
  .line-2 {
    position: absolute;
    top: 50%;
    left: -37%;
    width: 175%;
    height: 1px;
    background-color: black;
    transform: rotate(120deg);
  }
}
