
<header>
  <div style="top: 55px; left: 65px;">ROOM : 0000{{ game_id }}</div>
  <div style="top: 55px; left: 513px;">人數:{{ player_list.length + 1 }}</div>
  <div style="top: 55px; left: 961px;">狀態:{{ getGameStatesDisplayStr() }}</div>
</header>

<content>
  <div class="host-bar">
    <p>房主:{{ host }} </p>
  </div>

  <div class="player-list">
    <p>玩家列表</p>

    <div
      class="player-line"
      *ngFor="let player of player_list"
    >
      <p>{{ player.id }}
        <ng-container *ngIf="player_id === player.id">
          *
        </ng-container>
      </p>
    </div>
  </div>
  <div class="start-button">
      <button
        *ngIf="game_states == 1"
        (click)="onStartGameClicked()"
      >開始遊戲</button>
  </div>

</content>
