
<header>
  <div style="top: 55px; left: 65px;">ROOM : 0000{{ game_id }}</div>
  <div style="top: 55px; left: 513px;">人數:{{ player_list.length + 1 }}</div>
  <div style="top: 55px; left: 961px;">狀態:{{ getGameStatesDisplayStr() }}</div>
</header>

<ng-template #player_card let-obj>
  <div class="player-card">
    <div class="text-center-outer" style="left: 36px;">
      <div class="player-photo"></div>
    </div>
    <div class="text-center-outer" style="left: 442px;">
      <div class="player-id">{{ obj.id }}</div>
    </div>
  </div>
</ng-template>

<content>
  <div class="host-bar">
    <div class="text-center-outer" style="left: 105px;">
      <div>房主</div>
    </div>

    <div class="text-center-outer" style="left: 236px;">
      <ng-container
        [ngTemplateOutlet]="player_card"
        [ngTemplateOutletContext]="{ $implicit: { id: host } }"
       ></ng-container>
    </div>
  </div>

  <div class="player-list">
    <div
      class="player-line"
      *ngFor="let player of player_list"
    >
      <div class="text-center-outer" style="left: 236px;">
        <ng-container
          [ngTemplateOutlet]="player_card"
          [ngTemplateOutletContext]="{ $implicit: { id: player.id } }"
        ></ng-container>
      </div>

      <!-- <ng-container *ngIf="player_id === player.id">
        *
      </ng-container> -->
    </div>
  </div>
  <div class="start-button">
      <button
        *ngIf="game_states == 1"
        (click)="onStartGameClicked()"
      >開始遊戲</button>
  </div>

</content>
