

<header>
  <div class="game-title">UNO</div>
  <button class="game-start-btn" (click)="onCreateJoinClicked()">建立新房間</button>
</header>

<content>

  <div class="tool-bar">
    <button (click)="onRefreshGameClicked()">刷新遊戲列表</button>
  </div>

  <div class="title-bar">
    <div>編號</div>
    <div>房主</div>
    <div>人數</div>
    <div></div>
  </div>

  <ng-container *ngFor="let game_id of game_id_list">
    <div class="game-line">
      <div>{{game_id}}</div>
      <div>＊＊＊</div>
      <div>＊</div>
      <button (click)="onJoinGameClicked(game_id)">加入</button>
    </div>
  </ng-container>

</content>

<footer>

</footer>

