
<header>
  <p>遊戲局:{{ game_id }} 狀態:{{ getGameStatesDisplayStr() }}</p>
  <p>房主:{{ host }} </p>
</header>

<content>

  <div class="player-list">
    <p>玩家列表</p>

    <div
      class="player-line"
      *ngFor="let player of player_list"
    >
      <p>{{ player.id }}
        <ng-container *ngIf="player_id === player.id">
          *
        </ng-container>
      </p>
      <div *ngFor="let card of getCardList(player.id); let i = index">
        <button
          (click)="onPlayCardClicked(player.id, i)"
        >{{ getCardDisplayStr(card) }}</button>
      </div>
    </div>
  </div>
  <div class="start-button">
      <button
        *ngIf="game_states == 1"
        (click)="onStartGameClicked()"
      >開始遊戲</button>
  </div>

</content>




