
<header>

  <div class="text-center-outer" style="left: 65px;">
    <div>ROOM : 0000{{ game_id }}</div>
  </div>

  <div class="text-center-outer" style="left: 513px;">
    <div>狀態 : {{ getGameStatesDisplayStr() }}</div>
  </div>

</header>

<content>
  <div class="grid_container">
    <app-main-card class="box_main" [viewModel]="cardViewDict[0]"></app-main-card>
    <app-sub-card class="box_1" [viewModel]="cardViewDict[1]"></app-sub-card>
    <app-sub-card class="box_2" [viewModel]="cardViewDict[2]"></app-sub-card>
    <app-sub-card class="box_3" [viewModel]="cardViewDict[3]"></app-sub-card>
    <app-sub-card class="box_4" [viewModel]="cardViewDict[4]"></app-sub-card>
    <app-sub-card class="box_5" [viewModel]="cardViewDict[5]"></app-sub-card>
    <app-sub-card class="box_6" [viewModel]="cardViewDict[6]"></app-sub-card>
    <app-sub-card class="box_7" [viewModel]="cardViewDict[7]"></app-sub-card>
    <app-sub-card class="box_8" [viewModel]="cardViewDict[8]"></app-sub-card>
    <app-sub-card class="box_9" [viewModel]="cardViewDict[9]"></app-sub-card>
  </div>

  <!-- <div class="player-list">

    <div
      class="player-line"
      *ngFor="let player of player_list"
    >
      <p>{{ player.id }}
        <ng-container *ngIf="player_id === player.id">
          *
        </ng-container>
      </p>
      <div *ngFor="let card of getCardList(player.id); let i = index">
        <button
          (click)="onPlayCardClicked(player.id, i)"
        >{{ getCardDisplayStr(card) }}</button>
      </div>
    </div>
  </div> -->

</content>




