
<header>

  <div class="text-center-outer" style="left: 65px;">
    <div>ROOM : 0000{{ game_id }}</div>
  </div>

  <div class="text-center-outer" style="left: 513px;">
    <div>狀態 : {{ getGameStatesDisplayStr() }}</div>
  </div>

</header>

<content>

  <div class="player-list">

    <div
      class="player-line"
      *ngFor="let player of player_list"
    >
      <p>{{ player.id }}
        <ng-container *ngIf="player_id === player.id">
          *
        </ng-container>
      </p>
      <div *ngFor="let card of getCardList(player.id); let i = index">
        <button
          (click)="onPlayCardClicked(player.id, i)"
        >{{ getCardDisplayStr(card) }}</button>
      </div>
    </div>
  </div>

</content>




